body {
    font-family: Arial, sans-serif;
    background-color: aqua;
    margin: 0;
    padding: 0;
}


.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #10ea5c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}

.taskmanager {
    align-items: center;
    padding: 10px;
    width: 100;
    
    text-align: center;
    margin-bottom: 20px;
    color: coral;
    background-color: aliceblue;
    justify-content: center;
    border-radius: 20px;
}
#titel {
    background-color: #10eac2;
    border-radius: 20px;
    color: blueviolet;
    text-shadow: #e61717;
    font-size: 45px;
    padding: 10px;
}

.task-input {
    display: flex;
    background-color: aquamarine;
    justify-content: space-between;
    border-radius: 30px;
}

.task-input input {
    border-radius: 20px;
    width: 45%;
    padding: 10px;
    font-size: 16px;
}



#add-task {
    border-radius: 30px;
    background-color: rgb(248, 42, 172);
    border-width: 8px solid black;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #c20cf0;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

li.completed {
    text-decoration: line-through;
    color: rgb(249, 179, 193);
}

li button {
    background: #f68c8c;
    color: rgb(234, 255, 0);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
}
li button:hover {
    background: rgb(234, 255, 0);
    color: #f68c8c;
}

li button.edit {
    background: #0000ff;
    margin-right: 5px;
}

li button.edit:hover {
    background: #f68c8c;
    color: #0000ff;
}
